<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>MyAttendanceApp</title>
		<link rel="stylesheet" href="/css/index.css">
</head>
<body>
<main class="hero">

    <div class="hero-content">

        <img src="/img/logo/logo_myattendance.png"
             alt="Logo MyAttendanceApp"
             class="logo">

        <h1>MyAttendanceApp</h1>

        <p>
            Sistema de control de asistencia para trabajadores remotos,
            con geolocalización, evidencia fotográfica y portal administrativo.
        </p>

        <a href="/admin/login" class="btn-ingresar">
            Ingresar al Portal
        </a>

    </div>

</main>
		

</body>
</html>